@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

html {
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
}

table {
    border: 1px solid black;
    margin: auto;
}

td {
    border: 1px solid black;
    height: 40px;
    padding: 10px;
    text-align: center;
}