@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

.startup-list td {
    height: 40px;
    max-width: 200px;
    text-align: center;
    font-weight: 300;
    word-wrap: break-word;
}