<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="static/img/favicon.png">
    <title>The Growth List</title>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
    {% block css %}{% endblock %}
    <script src="static/js/bootstrap.js"></script>
  </head>

  <body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <a href="{{ url_for('index') }}"><h3>THE GROWTH LIST</h3></a>
  </nav>
      {% block content %}{% endblock %}
      {% block js %}{% endblock %}
  </body>
</html>